.wrapper{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #d12727; */
}
.empty-container{
    font-size: 3vw;
}
.empty-container img{
    height: 80vh;
}
.gallery-page{
   
    margin: 2vw;
    min-height: 85vh;
    border: 3px solid black;
    border-radius: 10px;
   
}
.gallery{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery-img{
    max-height: 30vh;
    min-width: 10vw;
    max-width: 10vw;
    padding: 5px;
}
.photo-thumbnail img{
    border-radius: 8px;
}
.center-div{
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* translate: -50%,-50%; */
    /* background-color: aqua; */
}
.photo-thumbnail{
    /* background-color: #ffb649; */
     background-color:rgb(246, 239, 239);
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    margin: 3vh;
    gap: 19px;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: space-between;
    width: 25vw;
    /* align-items: center; */
}
.gallery-dec{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 25vw;
    justify-content: end;
    position: relative;
    bottom: 0px;
    right: 0px;
    min-height: 10vh;
    /* overflow-x: hidden; */
 
}
.cross{
    position: absolute;
    height: 2vh;
    width: 2vh;
    right: 5px;
    cursor: pointer;
}
.gallery-dec h3{
    align-items: center;
    font-weight: 700;
    font-size: 4vh;
}
.gallery-dec p{
    font-weight: 100;
    font-size: 3vh;
}

/* making responsive */
@media (max-width:600px)   {

    .photo-thumbnail{
         /* background-color:rgb(210, 244, 86); */
          width: 80vw;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          height: 35vh;
          align-items: center;
    }
    .gallery-dec{
        height: 30vh;
        widows: 50vw;
    }
    .center-div{
        height: 30vh;
    }
    .empty-container img{
        height: 10vh;
        /* width: 50vh; */
    }
    .gallery-img{
        max-height: 80vh;
        min-width: 25vw;
    }
    .gallery-dec h3{
        align-items: center;
        font-weight: 600;
        font-size: 3vh;
    }
    .gallery-dec p{
        font-weight: 100;
        font-size: 2vh;
    }

}
@media (max-width:750px) and (min-width:601px){
    .empty-container img{
        height: 50vh;
        /* width: 50vh; */
    }
    .photo-thumbnail{
        /* background-color:rgb(255, 159, 159); */
         width: 30vw;
   }
    .gallery-dec h3{
        align-items: center;
        font-weight: 600;
        font-size: 3vh;
    }
    .gallery-dec p{
        font-weight: 100;
        font-size: 2vh;
    }
    
}
@media (max-width:900px) and (min-width:751px)  {

    .photo-thumbnail{
         /* background-color:rgb(255, 159, 159); */
          width: 30vw;
    }
    .gallery-dec h3{
        align-items: center;
        font-weight: 700;
        font-size: 3vh;
    }
    .gallery-dec p{
        font-weight: 100;
        font-size: 2.5vh;
    }
}
